<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>A basic HTML table</h2>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Version</th>
  </tr>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}">Maria Anders</td>
    <td th:text="${product.price}">Germany</td>
    <td th:text="${product.version}">Germany</td>
  </tr>

</table>

<p>To understand the example better, we have added borders to the table.</p>

</body>
</html>


